body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
footer p {
    text-align: center;
}
main {
    flex: 1;
    padding: 20px;
}
form[name="rectangleForm"] {
    max-width: 200px;
}
form[name="rectangleForm"] input {
    box-sizing: border-box;
    width: 100%;
}
form[name="rectangleForm"] p {
    margin: 5px 0;
}
form[name="rectangleForm"] .buttons {
    display: flex;
    flex-flow: row nowrap;
    margin: 10px 0;
}
.buttons > input {
    display: inline-block;
    width: 50%;
}
