<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
</head>
<body>
    <h1>Authors list</h1>

    <ul>
        <% authors.map(author => { %>
            
            <li><%=author.firstName%> <%= author.lastName %></li>
            
        <% }) %>
    </ul>
</body>
</html>
