<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <h1>Books list</h1>

    <ul>
        <% books.map(book => { %>
            
            <li><strong>Title</strong>: <%=book.title%>, <strong>Author</strong>: <%=book['Author.firstName']%> <%=book['Author.lastName']%> </li>
            
        <% }) %>
    </ul>
</body>
</html>
